<%= render 'partials/userBanner' %>
<% if @favorites.length > 0 %>
  <div class="col-xs-12" align="center">
   <div class="row" id="favContainer">
       <% @favorites.each do |fav|%>
       <div class="col-xs-4">
        <%=link_to '/items/show/'+(fav.item.id.to_s) do %>
        <img class="item-image" src="<%= fav.item.image%>" alt="item image">
        <%end%>
        <h3><%=link_to delete_favorites_path_url(item_id: fav.item.id), :method=>'delete' do%>
          <span class="cart glyphicon glyphicon-heart"</span>
        <%end%>

        <br />
        <%=fav.item.title%>
        <br />
        <%=fav.item.description%>
        <br />
        <%=fav.item.condition%>
        <br />
        <%=link_to fav.item.user.username,user_path_url(fav.item.user)%>

        <br /><hr />
          </div>
        <%end%>
     </div>
  </div>
<% else %>
  <div class="col-xs-12 text-center" style="margin: 0 auto">
    <br>
    <br>
    <br>
    <h1>You don't have any favorites!</h1>
    <h3>Explore items, services, and experiences for trade to begin or go back to your <%= link_to "profile.", user_path_url(current_user) %></h3>
  </div>
<% end %>
