<%= render 'partials/userBanner' %>
<div class="col-xs-12" style="margin-top: 45px">
</div>
<h1 align="center">Edit Your Profile</h1>
<br />
<p align="center">Add a fun background color and profile image below!</p>
<br />
  <%=form_for @user, html: { multipart: true }, :url => "/users/update/"+(@user.id.to_s), :method => 'patch' do |f| %>
    <div class="container" align="center" id="newUserForm">
      <div class="form-group">
        <div class="col self align center">
            <%= f.text_field :email, class: "form-control", placeholder: "Email", autofocus: true %>
        </div>
      </div>
      <div class="form-group">
          <div class="col self align center">
              <%= f.text_field :location, class: "form-control", placeholder: "Zipcode" %>
          </div>
      </div>
      <div class="form-group">
          <div class="col self align center">
              <%= f.text_field :username, class: "form-control", placeholder: "Username", autofocus: true %>
          </div>
      </div>
      <div class="form-group">
          <div class="col self align center">
              <%= f.color_field :background_color, class: "form-control", placeholder: "Background Color", autofocus: true %>
          </div>
      </div>
      <div class="form-group">
          <div class="col self align center">
              <%= f.file_field :image, class: "form-control", placeholder: "Profile picture", autofocus: true %>
          </div>
      </div>
      <div class="form-group">
          <div class="col self align center">
              <%= f.submit "Save Profile Changes", class: 'btn btn-warning btn-sm' %>
          </div>
      </div>
    </div>
  <% end %>
