<div class="col-xs-12 text-center" id="profileBanner" style="background-color: <%=@user.background_color%>">
  <% if (@user.image) %>
    <%= image_tag @user.image, :id => "profilePic" %>
  <% end %>
</div>

<div class="container">
      <%=form_for @user, html: { multipart: true }, :url => "/users/update/"+(@user.id.to_s), :method => 'patch' do |f| %>
      <%= f.label :username%>
      <%= f.text_field :username%>
      <br />
      <%= f.label :email%>
      <%= f.text_field :email%>
      <br />
      <%= f.label :location%>
      <%= f.text_field :location%>
      <br />
      <%= f.label :Background_Color%>
      <%= f.color_field :background_color%>
      <br />
      <%= f.label :image%>
      <%= f.file_field :image%>
      <%= f.submit "Submit"%>
    <%end %>
  </div>
