<%= render 'partials/userBanner' %>

<div class = "container">
  <% if logged_in? && @user.id == current_user.id %>
    <div class="row text-center">
      <div class="col-xs-6">
          <p class="lead"><%= link_to 'Favorites', favorites_path_url(@user)%></p>
          <p class="lead"><%= link_to 'Trade History', history_offers_path_url(@user)%></p>
      </div>
      <div class="col-xs-6">
        <p class="lead"><%= link_to 'Requested Trades', offers_path_url(@user)%></p>
        <p class="lead" style ="color:red"><%= link_to 'Incoming Trades', incoming_offers_path_url(@user)%>
          <% @count = 0%>
        <% @IncomingOffers.each do |offer|%>
          <% @count+=1%>
          <% end%>
      <% if @count >= 1%>
        <%= @count%></p>
      <%end%>
      </div>
    </div>
    <br />
    <h4 class="text-center">
      <%=link_to edit_user_path_url(@user) do%>
        <span class="cart glyphicon glyphicon-pencil"></span>
      <%end%>
    </h4>

  <% else %>
    <h1 align="center">Trade with them!</h1>

  <% end %>
  <div class="col-xs-12">
    <div class="row text-center">
      <div class="col-xs-4">
        <h4>Username: <%=@user.username%></h4>
      </div>
      <div class="col-xs-4">
        <h4>Email: <%=@user.email%></h4>
      </div>
      <div class="col-xs-4">
        <h4>Location: <%= @user.location.to_s.to_region %></h4>
      </div>
    </div>
  </div>
  <div class = "col-xs-12" align="center">
    <% if @user.rating %>
      <% @stars =(@user.rating / @user.rating_count).floor %>
      <h4>Rating: <%= @stars %></h4>
    <%else%>
      <h4>Rating: No ratings yet</h4>
    <%end%>
  </div>
</div>

<%= render 'partials/user_ratings' %>

<h2 class ="text-center"> Items

  <%if logged_in? && @user.id == current_user.id%>
    <% if @user.items.length > 0 %>
      My Items <%= link_to new_item_path_url, :method=>'get' do %> <span class="cart glyphicon glyphicon-plus"></span><%end%>
      <%= render 'partials/user_items' %>
    <% else %>
      <%= link_to new_item_path_url, :method=>'get', :class=>'btn btn-primary' do %>Post your first trade item now<%end%>
    <% end %>
  <% else %>
    <% if @user.items.length > 0 %>
      All User Items
      <br>
      <%= render 'partials/user_items' %>
    <% else %>
      No posted items by this user
    <% end %>
  <% end %>
</h2>

<br>
<br>
<%= render 'partials/footer' %>
