<%= render 'partials/userBanner' %>
<div class="col-xs-12">
  <div class="row">
    <div class="col-xs-6">
      <h2><%= @user.username %> <%=link_to edit_user_path_url(@user) do%><span class="cart glyphicon glyphicon-pencil"</span><%end%></h2>
        <h3><%= @user.location.to_s.to_region %> </h2>
    </div>
    <div class="col-xs-6" id="profileNav">
      <ul class="pull-right">
        <li><%= link_to 'My Favorites', favorites_path_url(@user)%></li>
        <li><%= link_to 'My Sent Offers', offers_path_url(@user)%></li>
        <li><%= link_to 'My Incoming Offers', incoming_offers_path_url(@user)%></li>
      </ul>
    </div>
  </div>
</div>

<div class="col-xs-12 text-center">
  <h2>My Trade History</h2>
  <div class="slick">
    <% @items.each do |item| %>
      <div>
        <%= image_tag item.image.url(:thumbnail) %>
        <h5>title:<%=item.title%></h5>
        <h4 class = "item-trash-link"><%=link_to "/items/destroy/"+(item.id.to_s),:method=>'delete' do%><span class="cart glyphicon glyphicon-trash"</span><%end%></h4>
        <h4 class="link"><%=link_to edit_item_path_url(item),:method=>'get' do%><span class="cart glyphicon glyphicon-pencil"</span><% end %></h4>
      </div>
    <%end%>
  </div>
</div>
<br />

<%@items.each do |item|%>
<img class="item-image" src="<%= item.image%>" alt="item image">
<h5>title:<%=item.title%></h5>
<h5>descrip:<%=item.description%></h5>
<h5>condition:<%=item.condition%> </h5>
<h5>cateogry:<%=item.category%> </h5>
<h5>group:<%=item.group%> </h5>


<%if logged_in? && @user.id != current_user.id%>
  <%if (@offers.where(:initiator_id => @currUser.id.to_s).where(:requested_item_id => item.id.to_s).empty?)%>
  <h3><%=link_to "Make A Trade", new_offer_path_url(item_id: item.id), :controller => 'offers', :method =>'get'%></h3>
  <%else%>
  <h4>You have already requested a trade for this item</h4>
  <%end%>
<%end%>

<%if @user.id == current_user.id%>
<h4 class = "item-trash-link"><%=link_to "/items/destroy/"+(item.id.to_s),:method=>'delete' do%>
  <span class="cart glyphicon glyphicon-trash"</span>
<%end%></h4>
<h4 class = "link"><%=link_to edit_item_path_url(item),:method=>'get' do%>
  <span class="cart glyphicon glyphicon-pencil"</span>
<%end%></h4>
<br /><br />
<%end%>
<%end%>
<br /><br /><br /><br />
