<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 align="center" style="margin-bottom:65px;">Meet The Team</h1>
      <p class="lead" align="center">
        Brought together by the forces of technology and a love of everything weird, our team wanted to build an exciting application that had practical uses in addition to being easy to interact with. We hope you enjoy it, and remember: the possibilities are endless!
      </p>
      <hr>
      <br>
      <div class="col-md-3">
        <a href="https://www.linkedin.com/in/meganrwiley" target="_blank">
          <%= image_tag("megan.jpg", :alt => "Megan Wiley: Pizza Scientist", :title => "Megan Wiley: Pizza Scientist") %></a>
        <p class="lead">Chief Pizza Scientist, Megan Wiley</p>
      </div>
      <div class="col-md-3">
        <a href="https://www.linkedin.com/in/roman-lavrenov-4878304b/" target="_blank">
          <%= image_tag("roman.jpg", :alt => "Roman Lavrenov: Comrade Aviator", :title => "Roman Lavrenov: Comrade Aviator") %></a>
        <p class="lead">Comrade Aviator, Roman Lavrenov</p>
      </div>
      <div class="col-md-3">
          <a href="https://www.linkedin.com/in/jesse-rosenbloom-4a25996a/" target="_blank">
          <%= image_tag("jesse.jpg", :alt => "Jesse Rosenbloom: Time Manipulator", :title => "Jesse Rosenbloom: Time Manipulator") %></a>
          <p class="lead">Time Manipulator, Jesse Rosenbloom</p>
      </div>
      <div class="col-md-3">
        <a href="https://www.linkedin.com/in/archyposada/" target="_blank">
          <%= image_tag("archy.jpg", :alt => "Archy Posada: Burrito Afficionado", :title => "Archy Posada: Burrito Afficionado") %></a>
        <p class="lead">Burrito Afficionado, Archy Posada</p>
      </div>
    </div>

  </div>

</div>

<%= render 'partials/footer' %>
