<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 align="center" style="margin-bottom:65px;">Meet The Team</h1>
      <p class="lead" align="center">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <div class="col-md-3">
        <%= image_tag("megan.jpg", :alt => "rss feed") %>
        <a href="https://www.linkedin.com/in/meganrwiley"><p class="lead">Chief Pizza Scientist, Megan Wiley</p></a>
      </div>
      <div class="col-md-3">
        <%= image_tag("roman.jpg", :alt => "rss feed") %>
        <a href="https://www.linkedin.com/in/roman-lavrenov-4878304b/"><p class="lead">Comrade Aviator, Roman Lavrenov</p></a>

      </div>
      <div class="col-md-3">
        <%= image_tag("jesse.jpg", :alt => "rss feed") %>
          <a href="https://www.linkedin.com/in/jesse-rosenbloom-4a25996a/"><p class="lead">Time Manipulator, Jesse Rosenbloom</p></a>

      </div>
      <div class="col-md-3">
        <%= image_tag("archy.jpg", :alt => "rss feed",) %>
      <a href="https://www.linkedin.com/in/archyposada/"><p class="lead">Burrito Afficionado, Archy Posada</p></a>

      </div>
    </div>

  </div>

</div>

<%= render 'partials/footer' %>
