

<div class="container">
  <div class="col-xs-12">
    <div class="row">
      <div class="col-md-6 col-xs-12">
        <h2>Item you want:</h2>
        <br>
        <%=link_to item_path_url(@item) do %>
          <img class="item-image" src="<%= @item.image %>" alt="item image">
        <% end %>
        <h4><%= @item.title %></h4>
        <p style="padding-right: 6vw"><%= @item.description %></p>
        <h5>Listed by: <%=link_to @item.user.username,user_path_url(@item.user)%></h5>
        <br />
      </div>
      <div class="col-md-6 col-xs-12">
        <div class="row">
          <% if @items.empty? %>
            <h3>You don't have any items. Post one for trade <%= link_to 'here', new_item_path_url %> and then come back!</h3>
          <%else%>
            <h2>Choose one of your items to trade:</h2>
            <br>
            <% @items.each do |mitem| %>
              <div class="row">
                <div class="col-xs-6">
                  <div class="picContainer">
                    <img class="item-image" src="<%= mitem.image%>" alt="item image">
                    <div class="overlay">
                      <%=link_to create_offer_path_url(:requested_item_id => @item.id.to_s, :offered_item_id => mitem.id.to_s, :receiver_id => @item.user.id.to_s, :initiator_id => mitem.user.id.to_s), :method => 'post' do %>
                        <div class="text">Trade this!</div>
                      <% end %>
                    </div>
                  </div>
                </div>
                <div class="col-xs-6">
                  <h4><%=mitem.title%></h4>
                  <p><%=mitem.description%></p>
                </div>
              </div>
              <br>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<br />
<%= render 'partials/offerProcess' %>
<br />

<%= render 'partials/footer' %>
