<h1 class ="text-center"><%= @category %></h1>
<br />
<div class="row text-center">
  <% @items.each do |item| %>
    <div class="col-xs-4">
      <h3><%=item.title%></h3>
      <%=link_to '/items/show/'+(item.id.to_s) do%>
      <img class="item-image" src="<%= item.image%>" alt="item image">
      <%end%>
      <br/>
      <%@found = Item.find_by_id(item.id)%>
      <%if logged_in?%>
      <%if (@favorites.where(:user => @user).where(:item => @found).empty?)%>
      <h3><%=link_to post_favorites_path_url(item_id: item.id), :method=>'post' do%>
      <span class="cart glyphicon glyphicon-heart-empty" style="color:red"> </span> <%end%></h3>
      <%else%>
      <h3><%=link_to delete_favorites_path_url(item_id: item.id), :method=>'delete' do%>
      <span class="cart glyphicon glyphicon-heart" style="color:red"></span> <%end%></h3>
      <%end%>
      <%end%>
        <br/>
        <%=item.description%>
        <br/>
        <p>condition:<%=item.condition%></p>
        <p>User:<%=link_to item.user.username,user_path_url(item.user)%></p>
        <br/>
        <hr />
      </div>
        <%end%>

  </div>

<%= render 'partials/footer' %>
