<h1 class ="text-center"><%= @category.to_s.humanize %></h1>
<br />
<div class="col-xs-12">
  <div class="row text-center">
    <% if (@items.length > 0) %>
      <% @items.each do |item| %>
        <div class="col-xs-4">
          <h3><%=item.title%></h3>
          <%= link_to '/items/show/'+(item.id.to_s) do %>
            <%= image_tag item.image.url(:medium), :class => "item-image", :alt => item.title %>
          <% end %>
          <br/>
          <%@found = Item.find_by_id(item.id)%>
          <%if logged_in?%>
            <%if (@favorites.where(:user => @user).where(:item => @found).empty?)%>
              <h3>
                <%=link_to post_favorites_path_url(item_id: item.id), :method=>'post' do%>
                  <span class="cart glyphicon glyphicon-heart-empty" style="color:red"></span>
                <% end %>
              </h3>
            <% else %>
              <h3>
                <%=link_to delete_favorites_path_url(item_id: item.id), :method=>'delete' do%>
                  <span class="cart glyphicon glyphicon-heart" style="color:red"></span>
                <% end %>
              </h3>
            <% end %>
          <% end %>
          <br/>
          <p><%=item.description%></p>
          <% if item.description %>
            <p>Condition: <%= item.condition.to_s.humanize %></p>
          <% end %>
          <p>Listed by: <strong><%= link_to item.user.username,user_path_url(item.user) %></strong></p>
          <br/>
          <hr />
        </div>
      <% end %>
    <% else %>
      <h2>There aren't currently any listings in this category.</h2>
      <%= link_to new_item_path_url, :method=>'get', :class=>'btn btn-primary' do %>Post a Listing Here Now<%end%>
    <% end %>
  </div>
</div>

<%= render 'partials/footer' %>
