<h1 align="center">Edit your trade item!</h1>
<%= form_for @item, html: { multipart: true }, :url => "/items/update/"+(@item.id.to_s) do |f| %>
<div class="container" id="newItemForm">
  <div class="form-group">
    <div class="col align-self-center">
      <h3 class="text-center">This <strong><u><%= @item.group %></u></strong> listing is locked in the <strong><u><%= @item.experiencecategory || @item.servicecategory || @item.itemcategory %></strong></u> category type.</h3>
      <br/><br />
      <%= f.text_field :title, class: "form-control", placeholder: "Title", autofocus: true %>
      <br/>
      <%= f.text_area :description, class: "form-control", placeholder: "Provide details", autofocus: true %>
      <br/>
      <%= f.file_field :image, class: "form-control", placeholder: "Image", autofocus: true %>
      <br/>
      <%= f.select :condition, Item.conditions.map { |key, value| [key.humanize, key] }, { :prompt => "Condition" }, :include_blank => true, class:"form-control" %>
      <br/>
      <%= f.submit "Save Changes", class: 'btn btn-success btn-md center-block', align:"right" %>
      <%end%>
    </div>
  </div>
</div>
