<h1 align="center">Create a new item to trade!</h1>
<%= form_for @item, html: { multipart: true }  do |f|%>
<div class="container" id="newItemForm">
  <div class="form-group">
    <div class="col align-self-center">
      <%= f.select :group, Item.groups.map { |key, value| [key.humanize, key] }, { :prompt => "Select listing type" }, :id => "listingType", class: "form-control" %>
      <br/>
      <%= f.select :category, Item.experiencecategories.map { |key, value| [key.humanize, key] }, { :prompt => "Category for Experience" }, :id => "experienceCategory", class:"form-control" %>
      <br/>
      <%= f.select :category, Item.servicecategories.map { |key, value| [key.humanize, key] }, { :prompt => "Category for Service" }, :id => "serviceCategory", class:"form-control" %>
      <br/>
      <%= f.select :category, Item.itemcategories.map { |key, value| [key.humanize, key] }, { :prompt => "Category for Item" }, :id => "itemCategory", class:"form-control" %>
      <br/>
      <%= f.text_field :title, class: "form-control", placeholder: "Title", autofocus: true %>
      <br/>
      <%= f.file_field :image, class: "form-control", placeholder: "Image", autofocus: true %>
      <br/>
      <%= f.select :condition, Item.conditions.map { |key, value| [key.humanize, key] }, { :prompt => "Condition" }, :include_blank => true, class:"form-control" %>
      <br/>
      <%= f.text_area :title, class: "form-control", placeholder: "Description", autofocus: true %>
      <br/>
      <%= f.submit "Submit for Trade", class: 'btn btn-warning btn-md center-block', align:"right" %>
      <%end%>
    </div>
  </div>
</div>
