<div class="container">
  <div class="row" align="center">
    <div class="col-md-6">
      <img class="item-image" src="<%= @item.image%>" alt="item image">
        <%@found = Item.find_by_id(@item.id)%>
          <%if logged_in?%>
          <%if (@favorites.where(:user => @user).where(:item => @found).empty?)%>
          <h3><%=link_to post_favorites_path_url(item_id: @item.id), :method=>'post' do%>
            <span class="cart glyphicon glyphicon-heart-empty "</span>
            <%end%>
          </h3>
        <%else%>
        <h3><%=link_to delete_favorites_path_url(item_id: @item.id), :method=>'delete' do%>
          <span class="cart glyphicon glyphicon-heart"</span>
            <%end%></h3>
        <%end%>
      <%end%>

      <%if logged_in? && @user.id != @currUser.id.to_s%>
        <%if (@offers.where(:initiator_id => @currUser.id.to_s).where(:requested_item_id => @item.id.to_s).empty?)%>
        <h3><%=link_to "Make A Trade", new_offer_path_url(item_id: @item.id), :controller => 'offers', :method =>'get'%></h3>
        <%else%>
        <h4>You have already requested a trade for this item</h4>
        <%end%>
        <br />
      <%end%>
      </div>

      <div class="col-md-6">
        <h5 id="title"><%=@item.title%></h5>
        <h5><%=@item.description%></h5>
        <br/>
        <br/>
        <h5 style="display: inline-block;">Condition:<%= @item.condition %></h5>
        <br />
        <h5 style="display: inline-block;">Location:<%= @item.user.location.to_s.to_region %></h5>
        <br/>
        <h5 style="display: inline-block;">Category:<%= @item.experiencecategory || @item.servicecategory || @item.itemcategory%> </h5>
        <br />
        <h5 style="display: inline-block;">User: <%=link_to @item.user.username,user_path_url(@item.user)%></h5>
      </div>
    </div>
</div>
<h3 id="relItems">Related Items:</h3>
