<!DOCTYPE html>
<html>
  <head>
    <title>TradeUP: Barter your way up!</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Anaheim|Arimo" rel="stylesheet">

  </head>


  <body>
    <%= render 'partials/navbar' %>
    <% flash.each do |name, msg| %>
      <div class="alert <% if name=="error" %> alert-danger <% elsif name=="success" %> alert-success <% else %> alert-info <% end %>">
        <%= msg %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
