<!DOCTYPE html>
<html>
  <head>
    <title>TradeUP: Barter your way up!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/code4pt/styles/js/jquery.js"></script>

    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Quicksand" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <%= render 'partials/navbar' %>
    <%= render 'partials/flashMessage' %>
    <%= yield %>
    <%= render 'partials/footer' %>
  </body>

</html>
